*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
h1, h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
.regular-btn{
    color: #fff;
    background-color: #34c38f;
    border-color: none;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 14px;
}
.regular-btn:hover{
    background-color: #27a275;
    border-color: none;
    transition: .2s;
}

/* Global Css end here */
.naviagtion-section{
    z-index: 99999;
}
.hero-section{
    top: 50;
    background-image: url('../../assets/background-images/bg-ico-hero.jpg');
    background-blend-mode: color(#000);
}
.bg-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 120px 0px;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: 10;
    background-color: #414da9c9;
}
.hero-section-inner{
    padding: 50px 0px 0px;
}
.hero-section-card{
    padding: 50px 0px 0px;
}
.hero-section-inner h1{
    font-size: 42px;
    font-weight: 700;
    width: 80%;
    padding: 16px 0px;
    color: #ffffff;
}
.hero-section-slogan{
    font-size: 14px;
    padding: 16px 0px;
    color: #ffffff80;
    width: 75%;
}
.hero-section-action-text{
    color: #ffffff80;
    font-size: 14px;
    padding: 8px;
}
.review-on-trustpilot{
    color: #ffffff;
    font-size: 14px;
    padding: 8px;
}

/* Our Service section  */
.our-section-heading{
    font-size: 32px;
    font-weight: 600;
}
.multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    color: #222325;
    line-height: 22px;
    font-weight: 500;
    transition: .2s;
  }
.multiline-ellipsis:hover{
    color: #1dbf73;
}
.icon-design{
    color: #ffbe5b;
}

/* Bussness section style are here */
.business-hedding{
    font-size: 40px;
    font-weight: 600;
    color: #080A3C;
}
.business-text{
    color: #4a6f8a;
    margin-bottom: 12px;
    line-height: 1.7;
    font-size: 15px;
}
.feature-box {
    color: #4a6f8a;
    background-color: #ffffff;
    border: 1px solid #f2effc;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
    box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
    border-radius: 30px;
    font-size: 15px;
    padding: 12px 22px;
    margin-bottom: 25px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-weight: 500;
}
.feature-box:hover{
    background-color: #13c4a1;
    color: #ffffff;
    padding-left: 25px;
}
.feature-box:hover > .icon-hover{
    color: white;
}
/* Setisfaction section are here */

.setisfaction-icon{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    background: #F6F4FD;
    border-radius: 100%;
    text-align: center;
    color: #13c4a1;
}
.conter-num{
    font-size: 22px;
    font-weight: 700 !important;
    color: #ff612f;
}
.setisfaction-text{
    color: #4a6f8a;
    padding: 15px 0px;
    font-size: 20px;
}
.setisfaction-inner{
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    padding: 25px 0;
    border-radius: 5px;
}
.satisfaction-section-inner{
    background-image: url('../../assets/background-images/map.png');
    background-position: center;
}